@{
    ViewData["Title"] = "Juego";
}

<div id="juego">
    <p>Nombre de usuario: @ViewBag.Username</p>
    <p>Puntaje actual: @ViewBag.PuntajeActual</p>
    <img src="@ViewBag.Foto" alt="Foto"/>
    <p>Número de pregunta: @ViewBag.PreguntaActual.Id</p>
    <p>@ViewBag.PreguntaActual.Enunciado</p>

    <form method="post" action='@Url.Action("VerificarRespuesta", "Home")'>
        @foreach (var respuesta in ViewBag.ListaRespuesta)
        {
            <button type="submit" name="idRespuesta" value="@respuesta.IdRespuesta">
                @respuesta.Contenido
            </button>
        }

        <button type="submit" class="enviar"> Enviar Respuesta </button>
    </form>
    
</div>